// Colors
$primary: #138ff4;
$primary-hover: #0f7ed8;
$danger-light: #fde5e5;
$danger: #ff4d4d;
$danger-hover: #ff1a1a;
$white: #ffffff;
$gray: #ccc;
$dark-gray: #999;
$background: #f4f4f4;
$text: #333;