<div class="task-list-header">
    <h1 data-testid="list-title">{{ titulo }}</h1>
    <button data-testid="delete-completed-button" *ngIf="editable && tasks.length" class="danger-outline"
        (click)="taskService.removeCompletedTasks()">
        Delete Completed Tasks
    </button>
</div>

<ul *ngIf="tasks.length">
    <app-task-item *ngFor="let task of tasks" [task]="task" [editable]="editable"></app-task-item>
</ul>

<div class="empty-message" *ngIf="!tasks.length">
    <p data-testid="empty-list-message">No tasks registered!</p>
</div>